/*
* @Author: LENOVO
* @Date:   2018-09-04 21:40:48
* @Last Modified by:   LENOVO
* @Last Modified time: 2018-09-05 12:11:40
*/
.promo-status{
    position: relative;
}
.btn-userstatus{
    position: absolute;
    margin-left: 285px;
    margin-top: -35px;
}
.p-img{
    display: block;
    width: 80px;
    height: 80px;
}
.form-control-static{
    padding-top: 0px;
}