/*
* @Author: LENOVO
* @Date:   2018-09-06 18:27:44
* @Last Modified by:   LENOVO
* @Last Modified time: 2018-09-06 18:42:24
*/
.picture{
    text-align: center;
}
.user-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}