/*
* @Author: LENOVO
* @Date:   2018-06-09 13:53:24
* @Last Modified by:   LENOVO
* @Last Modified time: 2018-09-08 00:23:24
*/
.country-select{    width: 160px;
}
.category-select{
    width: 160px;
    margin-right: 15px;
    display: inline-block;
}
.promo-price{
    width: 160px;
}