/*
* @Author: LENOVO
* @Date:   2018-06-09 13:53:42
* @Last Modified by:   LENOVO
* @Last Modified time: 2018-09-07 18:56:50
*/
.opear{
    margin-right:5px;
}
.search-wrap{
    margin-bottom:20px;
    .form-group{
        margin-right:10px;
    }
}
.promo-status{
    width: 100px;
    height: 35px;
    line-height: 35px;
}
.btn-status{
    width: 40px;
    height: 30px;
    float: right;
    margin-top: -33px;
}