/*
* @Author: LENOVO
* @Date:   2018-06-09 13:54:04
* @Last Modified by:   LENOVO
* @Last Modified time: 2018-09-07 16:00:38
*/
.img-con{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    .img{
        width: 100%;
        height: 100%;
        display: block;
    }
    .fa-close{
        position: absolute;
        /*覆盖*/
        top: o;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        height: 80px;
        line-height: 80px;
        cursor: pointer;
        display: none;
        font-size: 50px;
        color: #aaa;
        background: rgba(0,0,0,.2);
    }
    &:hover{
        .fa-close{
            display: block;
        }
    }
}
/* 让图片与下面的选择图片按钮空出间距*/
.file-upload-con{
    margin-top: 15px;
}