/*
* @Author: LENOVO
* @Date:   2018-05-23 17:25:06
* @Last Modified by:   LENOVO
* @Last Modified time: 2018-05-30 15:44:15
*/
.category-select{
    width: 160px;
    margin-right: 15px;
    display: inline-block;
}