.image{
    position: relative;
    // background: url(../../../back-con.png);
    width: 250px;
    height: 134px;
}
.back-con{
    background: url(../../../back-con.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.image-two{
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 18px;
}
.user-con{
    background: url(../../../duola.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%
}
.p-con-one{
    position: absolute;
    font-size: 16px;
    top: 80px;
    left: 16px;
}
.p-con-two{
    position: absolute;
    margin-top: 5px;
    font-size: 10px;
    top: 100px;
    left: 16px;
}
